.overflow-auto {
    width: 100%;
    height: 400px;
    overflow: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}


.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group-text {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
}

.form-select-lg {
    border: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0.375rem 0.75rem;
    width: calc(100% ); /* Adjust width to fit label */
}


header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
}

.stats {
    margin: 2rem 0;
}
.restaurant-list {
    margin-top: 2rem;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.website-logo {
    display: flex;
    align-items: center;
}
.website-logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;

}
@font-face {
    font-family: "MilestoneBrush";
    src: local("MilestoneBrush"), url(../../../assets/MilestoneBrush.ttf) format("truetype");
}

/* restauran-guest.component.css */
.stars {
    display: inline-block;
  }
  
  .stars .fa {
    color: gold;
    font-size: 1.5em;
  }
  