
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  footer {
    background-color: #007bff;
    color: white;
    margin-top: auto;
    text-align: center;
    padding: 1rem;
  }