<!-- change-password.component.html -->
<header class="d-flex justify-content-between align-items-center">
  <div class="container">
      <div class="row g-3">

      <div class="website-logo col-md-10" >
        <a routerLink=""><img src="../../../assets/logo.png" alt="Website Logo"></a>
        <h1 class="h2 mb-0" style="font-family: MilestoneBrush;margin-top: 20px;">Kutak dobre hrane</h1>
      </div>
  </div>
  </div>
</header>
<div class="container">
    <h2>Change Password</h2>
    <div *ngIf="step === 1">
      <form (ngSubmit)="onSubmitOldPassword()" #oldPasswordForm="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" required [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input type="password" class="form-control" id="oldPassword" required [(ngModel)]="oldPassword" name="oldPassword" required>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" class="form-control" id="newPassword" required [(ngModel)]="newPassword" name="newPassword" required>
        </div>
        <div class="form-group">
          <label for="confirmNewPassword">Confirm New Password</label>
          <input type="password" class="form-control" id="confirmNewPassword" required [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
        <button type="button" class="btn btn-link" (click)="step = 2">Forgot Password?</button>
      </form>
    </div>
    
    <div *ngIf="step === 2">
      <form (ngSubmit)="onSubmitUsername()" #usernameForm="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" required [(ngModel)]="username" name="username" required>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
        <button type="button" class="btn btn-link" (click)="step = 1">Back</button>
      </form>
    </div>
  
    <div *ngIf="step === 3">
      <form (ngSubmit)="onSubmitSecurityAnswer()" #securityQuestionForm="ngForm">
        <div class="form-group">
          <label for="securityQuestion">Security Question</label>
          <input type="text" class="form-control" id="securityQuestion" [(ngModel)]="securityQuestion" name="securityQuestion" readonly required>
        </div>
        <div class="form-group">
          <label for="securityAnswer">Security Answer</label>
          <input type="text" class="form-control" id="securityAnswer" required [(ngModel)]="securityAnswer" name="securityAnswer" required>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
        <button type="button" class="btn btn-link" (click)="step = 2">Back</button>
      </form>
    </div>
  
    <div *ngIf="step === 4">
      <form (ngSubmit)="onSubmitNewPassword()" #newPasswordForm="ngForm">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" class="form-control" id="newPassword" required [(ngModel)]="newPassword" name="newPassword" required>
        </div>
        <div class="form-group">
          <label for="confirmNewPassword">Confirm New Password</label>
          <input type="password" class="form-control" id="confirmNewPassword" required [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
        <button type="button" class="btn btn-link" (click)="step = 3">Back</button>
      </form>
    </div>
  </div>