/* reservation.component.css */
.table-custom {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }
  
  .table-custom th,
  .table-custom td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table-custom thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table-custom tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table-custom .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .selected-row {
    background-color:  rgba(0, 0, 0, 0.075) !important;
  }
  
  .table-custom tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  #canvas-container {
    border: 1px solid black;
    margin-top: 2px;
  }
  