
  
  
  <div class="container">
    <div class="row mb-8">
      <div class="col-md-12">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" class="form-control" [(ngModel)]="username">
      </div>
      <div class="col-md-12">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password">
      </div>
      <div class="col-md-12 d-flex align-items-end separator">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </div>
    </div>
  
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link" routerLink="/change-password" routerLinkActive="active">Change Password</a>
    </nav>

    </div>
    